<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<script th:inline="javascript">
    let loginForm = document.getElementById("loginForm"); 
    loginForm.addEventListener("submit", (e) => {
        console.log(e); 
    });


    function LoopTest(names) {
        var i=0;
        var stop=names.length;
        for (i=0;i<stop;i++) {  
            var v = document.createElement('p');
            v.text = names[i]; 
            document.getElementById('container').appendChild(v);
        }
    }

    async function fetchUsers(){
        const response = await fetch("http://localhost:8080/user"); 
        const users = await response.json(); 
        console.log(users); 
        var quote = document.getElementById("users"); 
        for(var i = 0 ;i < users.length ; i++){
            var par = document.createElement('p'); 
            var text = document.createTextNode("usuario:" +  users[i]['id'] + ", edad: " + users[i]['age']); 
            console.log(par); 
            par.appendChild(text); 
            quote.appendChild(par); 
        }         
    }
</script>

<body>
    <h1>"Hello"</h1>
    <div id="users"></div> 
    <form action="" id="loginForm">
        <h1>Login</h1>
        <input type="text" id="username" class="form-control" placeholder="Enter your Username...">
        <input type="password" id="password" class="form-control" placeholder="Enter your Password...">
        <button type="submit">Submit</button>
    </form>
    <script>fetchUsers()</script>

</body>
</html>